.waiter h3, .waiter h4{
    color: #6ea145;
}
.waiter p{
    color: #999;
    line-height: 1.6em;
}
.waiter img{
    margin: 0 auto;
}
.waiter img:hover{
    opacity: 0.7;
}
.waiter > div{
    text-align: center;
}
.waiter a{
    margin-bottom: 2rem;
}

.environment{
    background: url("../images/5.jpg");
    color: #fff;
    text-align: center;
}
.environment h3{
    font-size: 4em;
    width: 80%;
    margin: 1em auto 0.5em;
}
.environment p{
    width: 70%;
    margin: 0 auto 5em;
    font-size: 16px;
}
.carousel-indicators li{
    width: 22px;
    height: 5px;
    background: #fff;
    border: none 0;
    margin: 0 0 0 8px;
}
.carousel-indicators .active{
    width: 22px;
    height: 5px;
    background: #6ea145;
    margin: 0 0 0 8px;
}
.services_best{
    margin-top: 5em;
    margin-bottom: 5em;
}
.services_best h1{
    color: #6ea145;
}
.services_best .glyphicon{
    font-size: 3em;
    margin-left: 20%;
    color: #c6c5c0;
}
.services_best h4{
    font-size: 1.8em;
    color: #c6c5c0;
    margin-bottom: 1em;
}
.services_best p{
    color: #999;
    line-height: 2em;
}
